@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    --black: #000000;
    --white: #ffffff;
    --black-sub: #030303;
    --white-light: #E4E4E7;
    --red: #FF4059;
    --main-color: #432cf1;
    --red-dark: #ff0033;
    --red-light: #ff5068;
    --orange-dark: #ff6600;
    --orange-light: #ff944d;
    --yellow-dark: #ffcc00;
    --yellow-light: #ffd699;
    --green-dark: #00cc66;
    --green-light: #66ff99;
    --blue-dark: #007acc;
    --blue-light: #66b3ff;
    --purple-dark: #6600cc;
    --purple-light: #aa66ff;
    --cyan-dark: #00cccc;
    --cyan-light: #66ffff;
}

body, html {
    margin: 0;
    padding: 0;
}

p::selection{
    background-color: var(--main-color);

}


a{
    color: var(--white-light);
    text-decoration: none;
    user-select: none;
}

a:hover{
    color: var(--main-color);
    text-decoration: underline;
}

#main {
    display: flex;
    flex-direction: row;
    color: var(--white-light);
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--main-color);
}

  
#left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content:center; 
    align-items:center; 
    align-content: center;
    text-align: center;
    background-color: var(--black-sub);  
    max-height: 100%;
    box-shadow: 0 7px 9px rgba(0, 0, 0, 0.1);
    
}

#texts {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    justify-content: center; 
    align-items:center; 
    max-height: 70%;
    max-width: 100%;
}

#texts h1{
    user-select: none;
    max-height: 100%;
    overflow: auto;
}

#texts p{
    font-size: 1vw;
}

#buttons{

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    gap: 8%;
    align-items: center;
    max-height: 50%;
    
}

#buttons button{
    font-size:100%;
    height: 25%;
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    border-radius: 15vw;
    transition: 0.25s ease-in-out;
    user-select: none;
    
}

#buttons button:hover{
    opacity: 0.9;
}

#buttons button:active{
    opacity: 0.8;
    transform: scale(0.95);
}


#new-acc{
    background-color: var(--white-light);
    box-shadow: 0 7px 9px rgba(0, 0, 0, 0.1);
    border: none;

}

#anonim{
    background-color: var(--main-color);
    box-shadow: 0 7px 9px rgba(0, 0, 0, 0.1);
    color: var(--white-light);
    border: none;
    
}


#right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    max-width: 50%;

}

#logo{
    user-select: none;
    max-width: 100%; 
    height: 6vw;
    max-height: 100%; 
}

#logo:hover{
    filter:brightness(50%);
}

#right img {
    user-select: none;
    max-width: 100%; 
    height: 55vw;
    max-height: 80vh; 
}

#menu-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: transparent;
    border-radius: 14vw;
    justify-content:center;
    gap: 6%;

    

    
}

#extra{
    display: none;

}

#menu-bar a svg{
    font-size: 7vh;
}

#title{
    color: var(--main-color);
    font-size: 4.2vh;
}

#bio{
    font-size: 3vh;
}


@media (max-width: 767px) {
    #main {
        flex-direction: column; 
    }

    #left{
        width: 100%;
    }

    #left p{
        font-size: 2.5vw;
    }


    #right{
        display: none;
    }

    #texts {
        width: 90%;
        max-height: 100%; 
        overflow: auto; 
    }

    #logo{

        height: 16vw;

    }

    #buttons {
        gap: 5%;
        width: 100%;
    }

    #buttons button{
        width: 80%;
    }
    #extra{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 5vh;
        gap: 54%;
    }

}