@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    --black: #000000;
    --white: #ffffff;
    --black-gray: #09060e;
    --white-light: #E4E4E7;
    --red: #FF4059;
    --main-color: #432cf1;
    --red-dark: #ff0033;
    --red-light: #ff5068;
    --orange-dark: #ff6600;
    --orange-light: #ff944d;
    --yellow-dark: #ffcc00;
    --yellow-light: #ffd699;
    --green-dark: #00cc66;
    --green-light: #66ff99;
    --blue-dark: #007acc;
    --blue-light: #66b3ff;
    --purple-dark: #6600cc;
    --purple-light: #aa66ff;
    --cyan-dark: #00cccc;
    --cyan-light: #66ffff;
}

body, html {
    margin: 0;
    padding: 0;
}


p::selection{
    background-color: var(--main-color);

}


h1{
    max-height: 80%;

}

a{
    color: var(--white-light);
    text-decoration: none;
    user-select: none;
}

a:hover{
    color: var(--main-color);
    text-decoration: underline;
}

#main {
    display: flex;
    flex-direction: row;
    color: var(--white-light);
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;
    background-color: #030303;
}

  
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #0D0A14 inset; 
    -webkit-text-fill-color: var(--black-gray); 
  }
  

  input:-webkit-autofill:focus {
    border: none; 
  }


#warn{
    display:flex;
    font-size: 1em;
    position: fixed;
    top: 14%;
    color: var(--red-dark);
}

#terms{
    font-size: 0.8em;
}
#login {
    user-select: none;
    background-color: transparent;
    width: 45%;
    height: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.4vw;

}



#card-login{
    user-select: none;
    width: 100%;
    height: 100%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    gap: 7%;
}

#card-login input{
    font-size:120%;
    height: 15%;
    width: 65%;
    color: var(--white-light);
    font-family: 'Montserrat', sans-serif;
    border-radius: 26px;
    user-select: none;
    background-color: var(--black-gray);
    box-shadow: 0 7px 9px rgba(0, 0, 0, 0.1);
    border: none;
    text-align: center;
    transition: 0.2s ease-in-out;
}


#card-login input:focus{
    transform: scale(1.01);
    box-shadow: 0 17px 19px rgba(0, 0, 0, 0.1);
    outline: none;
    border: var(--white-light) 0.1px solid;
    background-color: var(--black-gray);
}


#card-login button{
    font-size:130%;
    height: 15%;
    width: 65%;
    color: var(--white-light);
    font-family: 'Montserrat', sans-serif;
    color: var(--white-light);
    font-family: 'Montserrat', sans-serif;
    border-radius: 15vw;
    transition: 0.25s ease-in-out;
    user-select: none;
    color: var(--black-gray);
    box-shadow: 0 7px 9px rgba(0, 0, 0, 0.1);
    border: none;
    font-style: bold;
    text-align: center;
}

#card-login button:hover{
    transform: scale(1.01);
}


#card-login button:active{
    opacity: 0.8;
    transform: scale(0.95);
}

img {
    user-select: none;
    max-width: 100%; 
    height: 25vw;
    max-height: 100%; 
}


@media (max-width: 767px) {
    #warn{
        top: 33%;
    }
    #main {
        flex-direction: column; 
    }

    #login{
        width: 85%;
        height: 75%;
        gap: 4%;
    }
    #card-login input{
        width: 80%;
    }
    #card-login button{
        width: 80%;
    }


}