@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


:root {
    --black: #000000;
    --white: #ffffff;
    --black-sub: #030303;
    --white-light: #E4E4E7;
    --red: #FF4059;
    --main-color: #432cf1;
    --sub-color: rgb(56, 35, 216);
    --red-dark: #ff0033;
    --red-light: #ff5068;
    --orange-dark: #ff6600;
    --orange-light: #ff944d;
    --yellow-dark: #ffcc00;
    --yellow-light: #ffd699;
    --green-dark: #00cc66;
    --green-light: #66ff99;
    --blue-dark: #007acc;
    --blue-light: #66b3ff;
    --purple-dark: #6600cc;
    --purple-light: #aa66ff;
    --cyan-dark: #00cccc;
    --cyan-light: #66ffff;
    --gray-purple: #0D0A14;  
}


body, html {
    margin: 0;
    padding: 0;
}


p::selection{
    background-color: var(--real-red);

}


h1{
    max-height: 80%;

}


#made a{
    color: var(--main-color);
    text-decoration: none;
    user-select: none;
}

#made a:hover{
    color: var(--white-light);
    text-decoration: underline;
}
#channels{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 80%;
    max-width: 80%;
}

#main {
    display: flex;
    flex-direction: row;
    background-color: #030303;
    color: var(--white-light);
    width: 100vw;
    height: max-content;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: space-between;
}

#all{
    display:flex;
    flex-direction: column;
    background-color: var(--black-gray);
    height: 100%;
    min-width: 40%;
    max-width: 40%;
    align-items: center;
    justify-content: center;
}

#menu-channels{
    min-width: 60%;
    max-width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:center;}

    #infos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #logo {
        user-select: none;
        max-width: 100%; 
        height: 80%;
        max-height: 100%; 
    }
    
    #content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 14px;
        width: 100%;
    }
    
    
    #chats{
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: 60%;
    }
    #channell {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: var(--gray-purple);
      border-radius: 1vw;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin: 10px;
      user-select: none;
      width: 100%;
    }
    
    #try{
      display: flex;
      flex-direction: column;
      width: 40%;
      align-items: center;
      max-width: 40%;
      min-width: 40%;
      height: 100%;
    }
    
    #extra{
      
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      width: 60%;
      height: 100%;
      gap: 24px;
    
    
    }
    #made{
      font-size: 1.1em;
      color: var(--main-color);
    }
    
    #entrarr {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: var(--main-color);
      color: var(--white-light);
      border-radius: 29px;
      width: 100%;
      padding: 20px;
      text-align: center;
      font-size: 18px;
      transition: 0.2s ease-in-out;
      text-decoration: none;
    }
    
    #channell:hover {
      outline: var(--white-light) solid 1px;
    
    }
    
    
    
    #entrarr:hover {
      text-decoration: none;
      box-shadow: 0px 4px 10px rgba(11, 11, 11, 0.291);
      background-color: var(--sub-color);
      
    }
    
    #delete{
    background-color: var(--main-color);
    border: none;
    color: var(--white-light);
    border-radius: 24vw;
    width:max-content;
    max-width: max-content;
    height: 6vh;
    font-size: 100%;
    
    }
    
    #delete:hover{
      background-color: var(--white-light);
      color: var(--main-color);
    }
    
    #user-channel{
      user-select: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: var(--gray-purple);
      border: var(--red) solid 1px;
      border-radius: 1vw;
      box-shadow: 0px 4px 10px rgba(39, 17, 17, 0.1);
      padding: 20px;
      margin: 10px;
    }
    
    
    #user-channel a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: var(--main-color);
      color: var(--white-light);
      border-radius: 29px;
      width: 100%;
      padding: 20px;
      text-align: center;
      font-size: 16px;
      
     
    }
    
    #new-channel{
    
      border-radius: 25vw;
      text-align: center;
      width: 10vw;
      height: 100%;
      box-shadow: 0px 4px 10px rgba(39, 17, 17, 0.1);
      background-color: var(--main-color);
      color: var(--white-light);
    }
    
    #verific{
      max-width: 6vh;
      height: max-content;
    }
    
    #try div{
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 12px;
    }
    
    #try div h1{
      font-size: 2vw;
    
    }
    
    
    #new-channel:hover{
      text-decoration: none;
      background-color: var(--white-light);
      color: var(--main-color);
    
    }
    
    #user-channel a:hover {
      text-decoration: none;
    }
    
    #user-channel:hover {
      background-color: #5340ff38;
    
    }
    
    
    #back{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--white-light);
        color: var(--main-color);
        border-radius: 29px;
        width: 100%;
        padding: 20px;
        text-align: center;
        font-size: 18px;
        transition: 0.2s ease-in-out;
        text-decoration: none;
        max-height: 50%;
        height: 20%;
    }


    @media (max-width: 767px) {

      #menu-channels{
        min-width: 90%;
        max-width: 90%;
      
      }
    

    #all{
      min-width: 100%;
      max-width: 100%;
    }
        #main{
            flex-direction: column;
        }
    
      #try div h1{
        font-size: 100%;
      
      }
      
    #chats{
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: 85%;
    }
      #channell {
        height: auto;
      }
    
      #channell a {
        height: auto;
        margin-top: 10px;
      }
    }
    
    
    