{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/user.css'%}">
    <title>Insight Sphere | {{ owner.username }} </title>
    <link rel="icon" href="{% static 'assets/img/512logo.png' %}?v1" type="image/x-icon">
</head>
<body>

    <div id="main">
        <div id="all">

            <div id="infos">
                <h1>{{owner.apelido}}</h1>
                <h1>{{owner.username}}</h1>
                <p>Fez login pela ultima vez em {{owner.join}}</p>
                <p>Entrou em {{owner.join}}</p>
            </div>

            <div>
                
                {% if owner.staff %}
                <p>Este usuario faz parte da equipe de desenvolvimento da Insight Sphere</p>
                {%endif%}
                <a href="/menu" id="back">Retornar ao Menu</a>
            </div>
        </div>

        <div id="menu-channels">
            <h1>Todos os canais de {{owner.apelido}}</h1>

            <div id="channels">
                
                {% for channel in owner.channels %}
                {% if channel.creator == request.user %}
                <div id="user-channel">
                    <div id="try">
                        <div>
                            <h1>{{ channel.name }}</h1>
                            {% if channel.verified == True %}
                            <img src="{% static 'assets/img/verificado.png' %}" id="verific" alt="verificado">
                            {% endif %}
                        </div>
                        <a href="{% url 'channel_detail' channel.creator.username channel.id %}" id="entrarr">Entrar </a>
                    </div>
                {%else%}
                <div id="channell">
                    <div id="try">
                        <div>
                            <h1>{{ channel.name }}</h1>
                            {% if channel.verified == True %}
                            <img src="{% static 'assets/img/verificado.png' %}" id="verific" alt="verificado">
                            {% endif %}
                        </div>
                        
                        <a href="{% url 'channel_detail' channel.creator.username channel.id %}" id="entrarr">Entrar </a>
                    </div>
                {% endif %}



                    <div id="extra">
                        
                        
                        {% if channel.creator == request.user %}
                        <p>{{channel.description}} </p>
                        <p id="made">Criado por Você</p>
                        <a href="{% url 'delete' channel_id=channel.id %}" id="delete">Deletar</a>
                        {% else %}
                        <p>{{channel.description}} </p>
                        <p id="made">Criado por <a href="/@{{ channel.creator.username }}">@{{ channel.creator.username }} </a></p>
                        {% endif %}
                    
                    </div>

                </div>

{% endfor %}



            </div>
            
        </div>




        </div>

    
</body>
</html>