{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/anonim.css' %}">
    <title>Insight Sphere - Login</title>
    <link rel="icon" href="{% static 'assets/img/512logo.png' %}" type="image/x-icon">
</head>
<body>
    <div id="main">
        <img id="logo"  src="{% static 'assets/img/512logo.png' %}" alt="logo">
        <div id="login">
            <form method="post" id="card-login">
                {% csrf_token %}
                
                <input type="text"  name="apelido" placeholder="Apelido (Opcional)" id="apelido" autocomplete="off">
                <button type="submit">Entrar agora</button>
    
                <p id="terms">Ao entrar como anonimo você está ciente dos termos e sabe dos riscos de estar anonimo.</p>
            </form>

            
        </div>



    </div>
    
</body>
</html>